---
import Section from '@/components/Section.astro'
import type { Education } from '@/types/cv'

const { title, cv } = Astro.props

const { education }: { education: Education[] } = cv
---

<Section title={title ?? "Education"} emoji="🎓">

    <ul>
        {education.map(({institution, area, studyType, startDate, endDate, courses, url}) => {

            const startYear = new Date(startDate).getFullYear()
            const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual"
            const years = `${startYear} - ${endYear}`
            return (
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>
                                    <a href={url} 
                                    target="_blank"
                                    rel="noopener noreferrer">
                                        {institution}
                                    </a>
                                </h3>
                            </div>
                        <time>{years}</time>
                        </header>
                        <footer>
                            <p>{studyType}</p>
                        </footer>
                    </article>
                </li>
                )
        })
        }
    </ul>

</Section>

<style>

 ul{
        display: flex;
        flex-direction: column;
        gap:32px;
    }

    article h3, article a{
        font-weight: 500;
        font-size: 1rem;
    }

    article h4{
        font-weight: 400;
        color:#222;
        font-size: .9rem;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom:4px;
    }

    time{
        font-size: .85rem;
    }

     a:hover{
        text-decoration: underline;
    }
</style>
