---
import Section from '@/components/Section.astro'

import { work } from '@cv'
---

<Section title="Experience" emoji="💼">

    <ul>
        {work.map(({name, startDate, endDate, position, summary, url}) => {

            const startYear = new Date(startDate).getFullYear()
            const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual"
            const years = `${startYear} - ${endYear}`
            return (
                <li>
                    <article>
                        <header>

                            <div>
                                <h3 class="text-gray-800 dark:text-white">
                                    <a href={url} 
                                    title=""
                                    target="_blank"
                                    rel="noopener noreferrer">
                                    {name}
                                    </a>
                                </h3>
                                <h4>{position}</h4>
                            </div>
                            <time>{years}</time>
                        </header>
                        <footer>
                            <p class="dark:text-gray-300">{summary}</p>
                        </footer>
                    </article>
                </li>
                )
        })
    }
    </ul>
</Section>

<style>

    ul{
        display: flex;
        flex-direction: column;
        gap:32px;
    }

    article h3, article a{
        font-weight: 500;
        font-size: 1rem;
    }

    article h4{
        font-weight: 400;
        font-size: .9rem;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom:4px;
    }

    time{
        font-size: .85rem;
    }

    a:hover{
        text-decoration: underline;
    }

   
</style>