---
import { basics } from '@/cv.json'
import Section from '@/components/Section.astro'
import Mail from '@/icons/Mail.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import GitHub from '@/icons/GitHub.astro'
import WorldMap from '@/icons/WorldMap.astro'

const { name, label, image, location, profiles, email  } = basics
const { city, region } = location

const SOCIAL_ICONS: Record<string, any> = {
    GitHub,
    LinkedIn,
}

const linkedinInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedInUrl = linkedinInfo?.url.replace('https://','') || "#";
const githubInfo = profiles.find(({ network }) => network === "GitHub");
const githubUrl = githubInfo?.url.replace('https://','') || "#";
---

<Section>
    <div class="container">
        <div class="info">
            <h1 class="text-xl sm:text-3xl">{name}</h1>
            <h2 class="dark:text-gray-300 md:text-balance">{label}</h2>
            <a href={`https://www.google.com/maps/place/${city}`}
            title="See location on Google Maps"
            target="_blank"
            rel="noopener noreferrer"
            class="w-max"
            >
                <WorldMap class="inline"/>
                <span>
                    {city}, {region}
                </span>
            </a>
            <footer class="print">
                    {email} &bull; {linkedInUrl} &bull; {githubUrl}
            </footer>
            <footer class="no-print">
                {
                    email && (
                        <a href={`mailto:${email}`}
                            title={`Send ${name} an email to ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="border border-gray-300 hover:bg-gray-300 group"
                        >
                            <Mail class="dark:text-gray-200 group-hover:text-gray-800"/>
                        </a>
                    
                    )
                }
                {
                    profiles.map(({ network, url }) => {
                        const Icon = SOCIAL_ICONS[network]
                        return (
                            <a href={url}
                                title={`Visit ${name}'s ${network} profile`}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="border border-gray-300 hover:bg-gray-300 group"
                            >
                                <Icon class="dark:text-gray-200 group-hover:text-gray-800"/>
                            </a>
                        )

                    })
                }
            </footer>
        </div>
        <figure class="hidden md:block">
            <picture>
                <source srcset={image} type="image/webp" media="(min-width: 768px)"/>
                <img src={image} alt={name} />
            </picture>
        </figure>
    </div>
</Section>

<style>

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem 0  0;
}

.info span{
    display: inline;
}

.info a {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all .3s ease;
}

.info a:hover{
    span{
        color:inherit;
        text-decoration: underline;
    }
}

h2{
    font-family: monospace;
    font-weight: 500;
    font-size: 1rem;
}

img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 128px; 
    border-radius: 100%;  
}

span{
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: .85rem;
    letter-spacing: -0.05rem;

}

footer{
    font-size: 0.6rem;
    color:#555;
    display: flex;
    gap: 4px;
    margin-top: 8px;

}

footer a {
    color:#777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all .3s ease;
}


.print{
    display: none;
}

@media print {
    .print{
        display: block;
    }

    .no-print{
        display: none;
    }
}

</style>