---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';

import cv from "@cvDE"

const {basics} = cv
const { name, label} = basics
---

<Layout title={`${name} Portfolio | ${label}`}>
	<main>
		<Hero cv={cv}/>
		<About title="Über mich" cv={cv}/>
		<Experience title="Berufserfahrung" cv={cv}/>
		<Education title="Ausbildung" cv={cv}/>
		<Skills title="Fähigkeiten" cv={cv}/>
		<Projects title="Projekte" cv={cv}/>
	</main>
</Layout>

<style>

main{
	padding:1.5rem;
	margin:auto;
	width: 100%;
}
</style>
